<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Ronicy Server - Spring Boot</title>
</head>
<body>

<h1>Welcome to the Ronic.lk Server - Spring boot</h1>
<hr>

<p style="font-size: 24px">This server is designed and developed for administrators of Ronicy.lk Team to manage their administration work, administration level authentication and as a support server for the search engine Algolia. As a public user you can try out these features.</p>


<h3>Manage Algolia services</h3>

<a href= "/algolia/start" >click here to clear all records and add the documents from the advertisement collection</a><br><br>
<a href= "/algolia/listen" >click here to clear all records and add the documents from the advertisement collection</a><br><br>

<!-- <a href= "/refresh" >click here to to add auth expire time of 1 hour/ pass uid as a parameter</a> -->

<h3>Manage Authentication services</h3>

<a href= "/update" >send uid/ or applies to all admins / update claims and time extends</a> <br><br>
<a href= "/revoke_claims" > send uid/ or applies to all admins / all administration claims are removed</a><br><br>
<a href= "/logout" >send uid/ or applies to all admins / all administration claims are removed and no access to firestore</a><br><br>


<h3>Manage FCM services</h3>

<a href= "/fcm/save" >subscribe to our public FCM(parameters: token)</a><br><br>
<a href= "/fcm/remove-admin" >unsubscribe an administrator (parameters: token)</a><br><br>


<div style="height:60px"></div>
<hr>
<p style="font-size: 22px">For more details - Ronicy Team @Email- manukayasas99@gmail.com </p>

</body>
</html>