<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Ronicy Server - Spring Boot</title>
</head>
<body>

<h1>Welcome to the Ronic.lk Server - Spring boot</h1>
<hr>

<p style="font-size: 24px">This server is designed and developed for administrators of Ronicy.lk Team to manage their administration work, administration level authentication and as a support server for the search engine Algolia. As a public user you can try out these features.</p>


<h3>[[${urls[0]}]]</h3>
<h3>[[${urls[1]}]]</h3>
<h3>[[${urls[2]}]]</h3>
<h3>[[${urls[3]}]]</h3>
<h3>[[${urls[4]}]]</h3>

<div style="height:60px"></div>
<hr>
<p style="font-size: 22px">For more details - Ronicy Team @Email- manukayasas99@gmail.com </p>

</body>
</html>